.DS_Store
.svn
*.sdf
*.o
bin
build
Debug
Release
ipch
*.vcxproj.user
*.vcxproj.filter
*.swp
*.suo
*.opensdf
*.gch
.sconsign.dblite
msvc/inspect/address.cpp
msvc/inspect/formula
deps/sparsehash-2.0.2/.deps
deps/sparsehash-2.0.2/Makefile
deps/sparsehash-2.0.2/config.log
deps/sparsehash-2.0.2/config.status
deps/sparsehash-2.0.2/src/config.h
deps/sparsehash-2.0.2/src/sparsehash/internal/sparseconfig.h
deps/sparsehash-2.0.2/src/stamp-h1
